@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: karla;
    src: url("./assets/Karla-Regular.ttf");
}

* {
    font-family: karla;
}

.secondaryText {
    /* color: #1290a4; */
    @apply text-black/70 text-base font-medium !important
}

*>li {
    list-style: none;
    cursor: pointer;
}

.seprator {
    height: 0.10px;
    background-color: rgba(0, 0, 0, 0.3);
}